th{
    color: white;
    background-color: greenyellow;
}

.green{
    background-color: green;
}
.pink{
    background-color: pink;
}
*{
    background-color:aquamarine ;

}
.red{
    color: red;
}